{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->
    
    <header class="masthead" style="background-image: url(' {{ url_for('static', filename='img/2.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1  style="color:aliceblue; font-family: 'Courier New', Courier, monospace;">My New Posts</h1>
            <span class="subheading" style="color:white;">Read</span>

  
            </div>
          </div>

        </div>

      </div>

    </header>
   <!-- Main Content -->
   <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


  
        <div class="post-preview">
          <a href="/post/{{post.Srn}}">
            <h2 class="post-title">{{ post.title }}

            </h2>
            <h3 class="post-subtitle">
              {{post.tagline}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="/about">Admin</a>
            on {{post.date}}</p>
        </div>

        {{post.content}}
        <hr>
</li></a>
        </div>
      </div>
    </div>



   {% endblock %}
